
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
   background: linear-gradient(88deg, #1D1E28 0.12%, #261C2D 94.84%, #261A2D 100%);;
    font-family:  'Red Hat Text', sans-serif;
   
}
.stars{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    margin-top: 55px;
}

.box{
    text-align: center;
    margin: 0 10px;
   animation-name: tengo;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   width: 70px;
   /* border: 1px solid white; */
}
.box span{
    color: #8385A9;
text-align: center;
font-size: 7px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.959px;
text-transform: uppercase;
}

.date {
    font-size: 36px;
    font-weight: bold;
    color: #FB5E84;
text-align: center;
font-family: Red Hat Text;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 71px; /* 197.222% */
letter-spacing: -1.08px;
border-radius: 65px;
    background: radial-gradient(#720099);
}
.header{
    margin-top: -142px;
}
h1{
width: 327px;
color: #FFF;
font-size: 18px;
font-weight: 700;
letter-spacing: 6.136px;
text-transform: uppercase;
animation: tengo1 2s infinite;
mix-blend-mode: soft-light;
/* border: 1px solid white; */

}
h1, .box span, .date{
    user-select: none;
}


footer{
    height: 170px;
    /* border: 1px solid white; */
    margin-top: 165px;
    width: 100vw;
    position: relative;
    bottom: -158px;
    background-image: url(./assets/backkkkkkk.svg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

		
	
	@keyframes tengo{
			
		0% {
			transform:scale(1);
		}
		50% {
			transform:scale(0.9);
		}
		100% {
			transform:scale(1);
		}
    }
   
  @keyframes tengo1{
    0%,80% {
      transform: rotateY(360deg) ;

      transition: 3s;
    }
  }
